*{
    margin: 10px;
    padding: 0px;

}
.MotherDiv{
        background-color: red;
        height: auto;
        border: solid blue;
        background-image: url("catimg/download(1).jpeg")
        
}
#navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.catfloat{
    float:right;
}
.pets{
    display: flexbox;
}