*{
    margin: 10px;
    padding: 0px;

}
.MotherDiv{
        background-color: white;
        height: auto;
        border: solid blue;
}
#navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.catfloat{
    float:right;
}
.pets{
    display: flexbox;
}
.cat{
    background-image: url(catImg/download\ \(4\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}