*{
    margin: 10px;
    padding: 0px;

}
.MotherDiv{
        background-color: red;
        height: auto;
        
}
#navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.catfloat{
    float:right;
}